@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #F5611A;
  --color-bg: #0D0E13;
  --color-surface: #161820;
  --color-surface2: #1E2130;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #161820;
}

::-webkit-scrollbar-thumb {
  background: #2a2d3e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F5611A;
}
